/* 
    Website name: 
    Author: Sazzad
*/

/* ============ Header start ============= */
header {
    background: rgb(255 255 255 / 55%);
}
header.scrolled {
    background-color: #fff;
}
header .navbar {
    padding: 14px 0;
}
header .site-logo {
    max-width: 200px;
}
header .nav-item {
    padding: 10px 15px;
}
header .nav-link {
    position: relative;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
    padding: 0 !important;
}
header.scrolled .nav-link {
    color: #0D263B !important;
}
header .nav-item .nav-link::before {
    position: absolute;
    content: '';
    left: 0;
    top: 100%;
    height: 2px;
    width: 0;
    max-width: 100%;
    background-color: #0069B8;
    transition: 0.3s;
}
header .nav-item:hover .nav-link::before {
    width: 80px;
}
header .nav-link.active::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 100%;
    height: 2px;
    width: 100%;
    background-color: #0069B8;
}
header .dropdown-menu {
    border: 0;
    border-radius: 0;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 10%);
}
header .dropdown-menu .dropdown-item {
    padding: 8px 20px;
}
header .dropdown:hover .dropdown-menu {
    display: block;
}
header .btn {
    line-height: 32px;
}
/* ============ Header end ============= */

/* ============ home page start ============= */
.banner-search-area {
    padding: 116px 0 60px;
}
.banner-search-area .wrapper {
    background: url('../images/home/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 14px;
}
.banner-search-area .overlay {
    background: #303030a6;
    border-radius: 14px;
}
.banner-search-area .search-box input {
    border-radius: 28px;
    padding: 14px 40px;
    font-weight: 600;
}
.banner-search-area .search-box i {
    font-size: 18px;
    left: 16px;
    top: 18px;
}
.banner-search-area .search-box .btn {
    right: 4px;
    top: 4px;
    border-radius: 28px;
    padding: 2px 20px;
}
.banner-search-area .calender-box input {
    border-radius: 28px;
    padding: 14px 18px;
    font-weight: 600;
}
.sec-heading h3::after {
    content: '';
    width: 40px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -20px;
    background-color: #0061DF;
}
.category-slider .item img {
    height: 270px;
    object-fit: cover;
}
.category-slider .item .img-wrapper {
    width: 100%;
    height: 270px;
    border-radius: 12px;
    overflow: hidden;
}
.category-slider .item:hover img {
    transform: scale(1.2);
}
.activities-filter .dropdown-toggle {
    background-color: #fff;
    border: 2px solid #aaa;
    color: #333;
    padding: 0px 16px;
    border-radius: 6px;
}
.activities-filter .dropdown-menu {
    padding: 12px;
    min-width: 200px;
}
.activities-filter .price-dropdown {
    min-width: 340px;
}

.imm-experience .img-wrapper .title {
    top: 12px;
    left: 12px;
    right: 12px;
    background-color: #00338d85;
    color: #fff;
    line-height: 32px;
    padding: 4px 8px;
    border-radius: 6px;
}
/* ============ home page end ============= */

/* ============ activity page start ============= */
.activities-item {
    border-radius: 8px;
    background-color: #F5FAFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activities-item:hover {
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 
}
.activities-item .activities-img img {
    height: 260px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.activities-item .activities-info {
    padding: 12px 26px;
}
.activities-item .title {
    color: #6084a4;
}
.activities-item .activities-info li {
    font-weight: 500;
    font-size: 14px;
}
.activities-item .activities-pricing {
    border-top: 1px solid #ccc;
    padding: 12px 26px;
}
.activities-item .wishlist-icon {
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 18px;
}
/* ============ activity page end ============= */

/* ============ activity details page start ============= */
.ad-page .section-heading .wrapper::before {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 30%;
    right: 30%;
    height: 4px;
    background-color: #0069B8;
    border-radius: 10px;
}
.ad-images img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.ad-images .big-img img {
    height: 294px;
}
.ad-images .mid-img img,
.ad-images .sm-img img {
    height: 140px;
}
.ad-heading-area .ad-images {
    position: relative;
}
.ad-heading-area .ad-images .show-all-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    width: auto;
    background: #fff;
    border: 0;
    color: #333;
    border-radius: 6px;
    padding: 0px 14px;
}
.actv-details-box,
.book-ticket-box {
    border-radius: 10px;
    border: 2px solid #e5e8f3;
}
.actv-details-box .about .icon-box {
    min-width: 30px;
}
.actv-details-box .experience .block li {
    list-style: disc;
}
.check-availability-box .select-area {
    background-color: #0061DF;
    border-radius: 16px;
}
.check-availability-box:target {
    scroll-margin-top: 100px;
}
.check-availability-box .dropdown-toggle {
    background-color: #fff;
    border: 2px solid #aaa;
    color: #333;
    padding: 0px 16px;
    border-radius: 6px;
}
.check-availability-box .dropdown-menu {
    padding: 12px;
    min-width: 200px;
}
.check-availability-box .person-select .dropdown-menu {
    min-width: 260px;
}
.check-availability-box .person-select .counter__increment,
.check-availability-box .person-select .counter__decrement {
    font-size: 20px;
}
.check-availability-box .person-select .counter__input {
    width: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.check-availability-box .ticket-details {
    border-radius: 16px;
}
.book-ticket-box .price-text {
    line-height: 30px;
}
.book-ticket-box .price-text span {
    font-size: 18px;
    font-weight: 500;
}

/* ============ activity details page end ============= */

/* ============ blog page start ============= */
.page-banner-area .overlay {
    background-color: #0000006b;
}
.blog-grid-area {
    background-color: #F5FAFF;
}
.blog-grid-area .blog-item {
    border-radius: 10px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.blog-grid-area .blog-item:hover {
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0
}
.blog-grid-area .blog-item img {
    border-radius: 10px;
    height: 260px;
    object-fit: cover;
}
.blog-grid-area .blog-item .bl-title a {
    font-size: 24px;
    font-weight: 600;
}
.pagination .page-link {
    color: #0069B8;
}
.pagination .page-item:first-child .page-link {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination .page-item:last-child .page-link {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* ============ blog page end ============= */

/* ============ blog details page start ============= */
.blog-details-area {
    background-color: #F5FAFF;
}
.blog-details-area .left-details-box {
    border-radius: 10px;
    border: 2px solid #e5e8f3;
}
.blog-details-area .left-details-box .post-img img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.blog-details-area .left-details-box .post-heading {
    margin: 8px 0 16px;
}
.blog-details-area .right-post-box {
    border-radius: 10px;
    border: 2px solid #e5e8f3;
}
.blog-details-area .right-post-box .post-name a {
    font-size: 18px;
    font-weight: 600;
}
.blog-details-area .right-post-box .blog-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

/* ============ blog details page end ============= */

/* ============ login page start ============= */
.login-area .row {
    min-height: 80vh;
}
.login-area .login-box {
    border-radius: 12px;
}
.login-area input {
    border-radius: 50px;
}
/* ============ login page end ============= */

/* ============ wishlist/cart start ============= */
.wishlist-cart-table table {
    vertical-align: middle;
}
.wishlist-cart-table table th,
.wishlist-cart-table table td {
    text-align: center;
}
.wishlist-cart-table .prod-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.wishlist-cart-table .btn {
    padding: 0 14px;
}
.wishlist-cart-table .btn.btn-danger {
    background-color: #D22B2B;
}
.wishlist-cart-table .btn.btn-danger:hover {
    background-color: #fff;
}
/* ============ wishlist/cart end ============= */

/* ============ checkout page start ============= */
.checkout-area .form-box {
    border: 1px solid #ccc;
    border-radius: 8px;
}
.checkout-area .confirm-box {
    border: 1px solid #ccc;
    border-radius: 8px;
}
.checkout-area .confirm-box .products table {
    vertical-align: middle;
}
.checkout-area .confirm-box .products img {
    min-width: 60px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
/* ============ checkout page end ============= */

/* ============ my account start ============= */
.my-account-area .nav-pills .nav-link:not(.active) {
    background-color: #eee;
    color: #333;
}
.my-account-area table {
    vertical-align: middle;
}
.my-account-area .table .prod-img {
    width: 60px;
}
.my-account-area {
    
}
/* ============ my account end ============= */

/* ============ footer start ============= */
.footer-top-area {
    background: url('../images/footer-pattern.png');
    background-position: center;
    background-size: cover;
    background-color: #0061DF;
}
.footer-middle-area .heading {
    font-family: 'Poppins', sans-serif;
}
.footer-middle-area .link-item {
    margin-bottom: 10px;
}
.footer-middle-area .link-item a {
    color: #424242;
    position: relative;
}
.footer-middle-area .link-item a:hover {
    color: #0069B8;
    padding-left: 20px;
}
.footer-middle-area .link-item a:hover:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 2px;
    background-color: #0069B8;
    left: 0;
    top: 11px;
}
.footer-middle-area .social-icons-area a {
    margin-right: 20px;
}
.footer-middle-area .social-icons-area i {
    font-size: 20px;
}

.footer-bottom-area .copyright-text {
    border-top: 1px solid #e1e1e1;
    padding: 16px 0;
}
/* ============ footer end ============= */

/* ============ terms privacy start ============= */
.terms-privacy p {
    margin-bottom: 16px;
}
/* ============ terms privacy start ============= */